/* 
the color palette
https://colorhunt.co/palette/251b37372948ffcacaffecef 
#251B37
#372948
#FFCACA
#FFECEF
*/


#main {
    
    background-color: #FFCACA;
    overflow-x: hidden;
}

.redOutline {
    border: 5px dotted red;
}

.navbar {
    background-color: var(--themecolor1);
    position: fixed;
    top: 0;
    width: 100%;
}

:root {
    --themecolor1: #251B37;
    --themecolor2: #372948;
    --themecolor3: #FFCACA;
    --themecolor4: #FFECEF;
}

.Attachfile {
    background-color: var(--themecolor4);
    height: 60vh;
    color: #888;
}

#learnPdfList {
    padding-top: 57.5px;
    background-color: var(--themecolor2);
    overflow: hidden;
}
.nav-link.active {
    background-color: var(--themecolor1) !important;
    border-width: 0px !important;
}

.card-body {
    background-color: var(--themecolor4);
    text-align: center;
    transition: transform 0.2s;

    font-weight: bold;
    font-size: 1.5em;
}

.card-body:hover {
    transform: scale(1.1);
}

.card {
    width: 15em;
    height: 10em;
    animation: fadeInAnimation ease 1s, MoveUpDown ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#popupCard {
    background-color: transparent;
    border: 0px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#popupInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}
  
.flipCard {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
#popupFront, #popupBack {
    background-color:var(--themecolor4);
    border-radius: 2em;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    font-weight: bold;

    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

@media screen and (max-width: 600px) {

    /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
    .mobile-hide {
    display: none !important;
    }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  

@keyframes MoveUpDown {
    0% {
      bottom: 2em;
    }
    100% {
      bottom: 0em;
    }
  }