<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

<style>
  .btn {
    border-radius: 10000px;
  }
  .flashcardButtons {
    height: 100%;
    position: absolute;
  }

  @media screen and (max-width: 600px) {
    /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
    .flashcardButtons {
      height: auto;
      position: absolute;
      padding: 0px;
      margin: 0px;
      bottom: 0%;
    }
    #flashcardModal {
      padding: 0px;
      margin: 0px;
    }
  }
</style>

<ul class="nav nav-tabs" id="learnPdfList" role="tablist">
</ul>

<div class="container pt-3" style="height: 100vh;">
  <div class="row" id="cardsList">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="flashcardModal" style="overflow: hidden;">
  

  <div class="d-flex justify-content-between w-100 p-3 flashcardButtons">
    <button style="font-size: 4em; background-color: transparent; border: none;" onclick="goLeft()">&lt;</button>
    <div onclick="dismissPopup()" class="w-100 h-100" style="font-size: 4em;">‏‏‎ ‎</div>
    <button style="font-size: 4em; background-color: transparent; border: none;" onclick="goRight()">&gt;</button>
  </div>
  
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div id="popupCard" class="modal-content flip-card" style="width: 100vw; height: 70vh;">

        <div id="popupInner" style="height: 100%;">
            <div id="popupFront" class="modal-body">
                this is a test
            </div>

            <div id="popupBack" class="modal-body" style="transform: rotateY(180deg);">
                this is a testsdfsdf
            </div>
        </div>

      <!-- update -->

        <div class="d-flex justify-content-center pt-3">
          <button id="updateButton" class="btn btn-primary" onclick="showUpdateForm()">Edit</button>
      </div>
      
      <div id="updateForm" class="mt-3 p-3" style="display: none; background-color: var(--themecolor4); border-radius: 1em;">
          <div class="form-group">
              <label for="newKeyword">New Keyword:</label>
              <input type="text" class="form-control" id="newKeyword">
          </div>
          <div class="form-group">
              <label for="newDefinition">New Definition:</label>
              <textarea class="form-control" id="newDefinition" rows="3"></textarea>
          </div>
      </div>

    </div>
  </div>
</div>

<script src="{{url_for('static', filename='flashcards.js')}}"></script>
{% endblock %}

</html>
