<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

<style>
  .btn {
    border-radius: 10000px;
  }
</style>

<ul class="nav nav-tabs" id="learnPdfList" role="tablist">
</ul>

<div class="container pt-3" style="height: 100vh;">
  <div class="row" id="cardsList">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="flashcardModal" style="overflow: hidden;">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div id="popupCard" class="modal-content flip-card" style="width: 100vw; height: 70vh;">

      <div id="popupInner" style="height: 100%;">
        <div id="popupFront" class="modal-body">
          this is a test
        </div>

        <div id="popupBack" class="modal-body" style="transform: rotateY(180deg);">
          this is a testsdfsdf
        </div>
      </div>

    </div>
  </div>
</div>

<script src="{{url_for('static', filename='learn.js')}}"></script>
{% endblock %}

</html>