<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}
<div id="main">
  <div class="d-flex align-items-center justify-content-center p-3 h-100">
    <div class="w-100">
      <input class="Attachfile w-100" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>

      <div class="d-flex justify-content-center w-100">
        <button class="btn btn-dark text-center m-3 px-3 py-2 rounded-pill">Generate</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

</html>